#include "version.h"

IDI_ICON1               ICON    DISCARDABLE     "resources/mtb-config-tool.ico"


1 VERSIONINFO
    FILEVERSION    MTB_CONFIG_TOOL_VERSION_MAJOR,MTB_CONFIG_TOOL_VERSION_MINOR,0,0
    PRODUCTVERSION MTB_CONFIG_TOOL_VERSION_MAJOR,MTB_CONFIG_TOOL_VERSION_MINOR,0,0
{
    BLOCK "StringFileInfo"
    {
        BLOCK "000004B0"
        {
            VALUE "CompanyName",        "Jan Horacek"
            VALUE "FileDescription",    "MTB Config Tool"
            VALUE "FileVersion",        MTB_CONFIG_TOOL_VERSION
            VALUE "OriginalFilename",   "mtb-config-tool.exe"
            VALUE "ProductName",        "MTB Config Tool"
            VALUE "ProductVersion",     MTB_CONFIG_TOOL_VERSION
            VALUE "InternalName",       "mtb-config-tool"
            VALUE "LegalCopyright",     "Jan Horacek"
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x0000, 0x04B0
    }
}
